#!/bin/sh
#
# /etc/rc.d/gitd: start/stop the git-daemon(1)
#

PIDFILE=/var/run/gitd.pid
USER=git
GROUP=git
REPOS=/usr/src

case $1 in
start)
	/usr/lib/git-core/git-daemon \
		--user=$USER --group=$GROUP \
		--detach --syslog --pid-file=$PIDFILE \
		--export-all --base-path=$REPOS $REPOS
	;;
stop)
	[ -f $PIDFILE ] && kill $(cat $PIDFILE)
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
