#!/bin/sh -e
#
# /etc/rc.d/crond: start/stop crond(8) daemon
#

PIDFILE=/var/run/crond.pid

case $1 in
start)
	/usr/sbin/crond
	;;
stop)
	[ -f $PIDFILE ] && kill $(cat $PIDFILE)
	;;
restart)
	$0 stop
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
