#!/bin/sh -e
#
# /etc/rc.d/sysklogd: start/stop syslogd(8) daemon
#

PIDFILE=/var/run/syslogd.pid

case $1 in
start)
	/usr/sbin/syslogd -ss
	;;
stop)
	[ -f $PIDFILE ] && kill $(cat $PIDFILE)
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
